<div class="pin-up">
  
  <div class="content-wrap">
    <span class="content content-0">Greensock</span>
    <span class="content content-1">ScrollTrigger</span>
    <span class="content content-2">Creativity</span>
    <span class="content content-3">Versatility</span>
    <span class="content content-4">Awesomeness</span>
  </div>  
  
  
    <div class="sideline"></div>
  
  
  <div class="text-wrap">
    <div class="text">Greensock</div>
    <div class="text">ScrollTrigger</div>
    <div class="text">Creativity</div>
    <div class="text">Versatility</div>
    <div class="text">Awesomeness</div>  
  </div>
  
</div>


<div class="below">
  <span>Yowza!</span>
</div>  